div {
  display:inline-block;
  padding: 20px;
}

h1 {
  font-family: sans-serif;
  font-size: 30px;

}

p {
  font-family: sans-serif;
  font-size: 18px;
}

body {
  text-align: center;
  padding: 60px;
}


